
<div class="container">
  <div class="table">
    <h2>Página de endereços</h2>
    <button class="btn btn-success" (click)="navigate()">Adicionar novo endereço</button>
    
    <div class="table-header">
      <div class="table-cell">Logradouro/Nome</div>
      <div class="table-cell">Bairro/Distrito</div>
      <div class="table-cell">Localidade/UF</div>
      <div class="table-cell">CEP</div>
      <div class="table-cell">Ações</div>
    </div>
    <div>
      <div class="table-row">
        <!--    <div class="table-cell">{{ address.logradouro }}</div>
            <div class="table-cell">{{ address.bairro }}</div>
            <div class="table-cell">{{ address.localidade }}/{{ address.uf }}</div>
            <div class="table-cell">{{ address.cep }}</div> -->
        <div class="table-cell">Rua João IA Neves</div>
        <div class="table-cell">Trobogy</div>
        <div class="table-cell">Salvador/BA</div>
        <div class="table-cell">41.780-014</div>
        <div class="table-cell">
          <button>
            <img src="/assets/svg/settings.svg" />
            <div class="actions">
              <p>Editar</p>
              <p>Excluir</p>
            </div>
          </button>
        </div>
      </div>
      <div class="table-row">
        <!--    <div class="table-cell">{{ address.logradouro }}</div>
            <div class="table-cell">{{ address.bairro }}</div>
            <div class="table-cell">{{ address.localidade }}/{{ address.uf }}</div>
            <div class="table-cell">{{ address.cep }}</div> -->
        <div class="table-cell">Rua João IA Neves</div>
        <div class="table-cell">Trobogy</div>
        <div class="table-cell">Salvador/BA</div>
        <div class="table-cell">41.780-014</div>
        <div class="table-cell">
          <button>
            <img src="/assets/svg/settings.svg" />
            <div class="actions">
              <p>Editar</p>
              <p>Excluir</p>
            </div>
          </button>
        </div>
      </div>
      <div class="table-row">
        <!--    <div class="table-cell">{{ address.logradouro }}</div>
            <div class="table-cell">{{ address.bairro }}</div>
            <div class="table-cell">{{ address.localidade }}/{{ address.uf }}</div>
            <div class="table-cell">{{ address.cep }}</div> -->
        <div class="table-cell">Rua João IA Neves</div>
        <div class="table-cell">Trobogy</div>
        <div class="table-cell">Salvador/BA</div>
        <div class="table-cell">41.780-014</div>
        <div class="table-cell">
          <button>
            <img src="/assets/svg/settings.svg" />
            <div class="actions">
              <p>Editar</p>
              <p>Excluir</p>
            </div>
          </button>
        </div>
      </div>
      <div class="table-row">
        <!--    <div class="table-cell">{{ address.logradouro }}</div>
            <div class="table-cell">{{ address.bairro }}</div>
            <div class="table-cell">{{ address.localidade }}/{{ address.uf }}</div>
            <div class="table-cell">{{ address.cep }}</div> -->
        <div class="table-cell">Rua João IA Neves</div>
        <div class="table-cell">Trobogy</div>
        <div class="table-cell">Salvador/BA</div>
        <div class="table-cell">41.780-014</div>
        <div class="table-cell">
          <button>
            <img src="/assets/svg/settings.svg" />
            <div class="actions">
              <p>Editar</p>
              <p>Excluir</p>
            </div>
          </button>
        </div>
      </div>
      <div class="table-row">
        <!--    <div class="table-cell">{{ address.logradouro }}</div>
            <div class="table-cell">{{ address.bairro }}</div>
            <div class="table-cell">{{ address.localidade }}/{{ address.uf }}</div>
            <div class="table-cell">{{ address.cep }}</div> -->
        <div class="table-cell">Rua João IA Neves</div>
        <div class="table-cell">Trobogy</div>
        <div class="table-cell">Salvador/BA</div>
        <div class="table-cell">41.780-014</div>
        <div class="table-cell">
          <button>
            <img src="/assets/svg/settings.svg" />
            <div class="actions">
              <p>Editar</p>
              <p>Excluir</p>
            </div>
          </button>
        </div>
      </div>
      <div class="table-row">
        <!--    <div class="table-cell">{{ address.logradouro }}</div>
            <div class="table-cell">{{ address.bairro }}</div>
            <div class="table-cell">{{ address.localidade }}/{{ address.uf }}</div>
            <div class="table-cell">{{ address.cep }}</div> -->
        <div class="table-cell">Rua João IA Neves</div>
        <div class="table-cell">Trobogy</div>
        <div class="table-cell">Salvador/BA</div>
        <div class="table-cell">41.780-014</div>
        <div class="table-cell">
          <button>
            <img src="/assets/svg/settings.svg" />
            <div class="actions">
              <p>Editar</p>
              <p>Excluir</p>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
