
<div class="container">
  <div class="table">
    <h2>Página de endereços</h2>
    <button class="btn btn-success">Adicionar novo endereço</button>
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">//Adicionar novo endereço</h4>
        <button type="button" class="close" aria-label="Fechar" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Conteúdo do modal...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Fechar</button>
      </div>
    </ng-template>


    <div class="table-header">
      <div class="table-cell">Logradouro/Nome</div>
      <div class="table-cell">Bairro/Distrito</div>
      <div class="table-cell">Localidade/UF</div>
      <div class="table-cell">CEP</div>
      <div class="table-cell">Ações</div>
    </div>
    <div>
      <div class="table-row">
        <!--    <div class="table-cell">{{ address.logradouro }}</div>
            <div class="table-cell">{{ address.bairro }}</div>
            <div class="table-cell">{{ address.localidade }}/{{ address.uf }}</div>
            <div class="table-cell">{{ address.cep }}</div> -->
        <div class="table-cell">Rua João IA Neves</div>
        <div class="table-cell">Trobogy</div>
        <div class="table-cell">Salvador/BA</div>
        <div class="table-cell">41.780-014</div>
        <div class="table-cell">
          <button>
            <img src="/assets/svg/settings.svg" />
            <div class="actions">
              <p>Editar</p>
              <p>Excluir</p>
            </div>
          </button>
        </div>
      </div>
      <div class="table-row">
        <!--    <div class="table-cell">{{ address.logradouro }}</div>
            <div class="table-cell">{{ address.bairro }}</div>
            <div class="table-cell">{{ address.localidade }}/{{ address.uf }}</div>
            <div class="table-cell">{{ address.cep }}</div> -->
        <div class="table-cell">Rua João IA Neves</div>
        <div class="table-cell">Trobogy</div>
        <div class="table-cell">Salvador/BA</div>
        <div class="table-cell">41.780-014</div>
        <div class="table-cell">
          <button>
            <img src="/assets/svg/settings.svg" />
            <div class="actions">
              <p>Editar</p>
              <p>Excluir</p>
            </div>
          </button>
        </div>
      </div>
      <div class="table-row">
        <!--    <div class="table-cell">{{ address.logradouro }}</div>
            <div class="table-cell">{{ address.bairro }}</div>
            <div class="table-cell">{{ address.localidade }}/{{ address.uf }}</div>
            <div class="table-cell">{{ address.cep }}</div> -->
        <div class="table-cell">Rua João IA Neves</div>
        <div class="table-cell">Trobogy</div>
        <div class="table-cell">Salvador/BA</div>
        <div class="table-cell">41.780-014</div>
        <div class="table-cell">
          <button>
            <img src="/assets/svg/settings.svg" />
            <div class="actions">
              <p>Editar</p>
              <p>Excluir</p>
            </div>
          </button>
        </div>
      </div>
      <div class="table-row">
        <!--    <div class="table-cell">{{ address.logradouro }}</div>
            <div class="table-cell">{{ address.bairro }}</div>
            <div class="table-cell">{{ address.localidade }}/{{ address.uf }}</div>
            <div class="table-cell">{{ address.cep }}</div> -->
        <div class="table-cell">Rua João IA Neves</div>
        <div class="table-cell">Trobogy</div>
        <div class="table-cell">Salvador/BA</div>
        <div class="table-cell">41.780-014</div>
        <div class="table-cell">
          <button>
            <img src="/assets/svg/settings.svg" />
            <div class="actions">
              <p>Editar</p>
              <p>Excluir</p>
            </div>
          </button>
        </div>
      </div>
      <div class="table-row">
        <!--    <div class="table-cell">{{ address.logradouro }}</div>
            <div class="table-cell">{{ address.bairro }}</div>
            <div class="table-cell">{{ address.localidade }}/{{ address.uf }}</div>
            <div class="table-cell">{{ address.cep }}</div> -->
        <div class="table-cell">Rua João IA Neves</div>
        <div class="table-cell">Trobogy</div>
        <div class="table-cell">Salvador/BA</div>
        <div class="table-cell">41.780-014</div>
        <div class="table-cell">
          <button>
            <img src="/assets/svg/settings.svg" />
            <div class="actions">
              <p>Editar</p>
              <p>Excluir</p>
            </div>
          </button>
        </div>
      </div>
      <div class="table-row">
        <!--    <div class="table-cell">{{ address.logradouro }}</div>
            <div class="table-cell">{{ address.bairro }}</div>
            <div class="table-cell">{{ address.localidade }}/{{ address.uf }}</div>
            <div class="table-cell">{{ address.cep }}</div> -->
        <div class="table-cell">Rua João IA Neves</div>
        <div class="table-cell">Trobogy</div>
        <div class="table-cell">Salvador/BA</div>
        <div class="table-cell">41.780-014</div>
        <div class="table-cell">
          <button>
            <img src="/assets/svg/settings.svg" />
            <div class="actions">
              <p>Editar</p>
              <p>Excluir</p>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
