@import "../../../styles/variables.scss";

mat-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 34px;
    align-items: center;
    
    text-align: center;
    

    .mat-form-field {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    mat-card-content{
        font-size: 20px;
        margin-bottom: 20px;

    }
    .buttons-class{
        margin-bottom: 10px;
        flex-direction: column;
        display: flex;
        gap: 10px;
    }
    

}