<app-default-login-layout
    title="Cadastre-se agora"
    primaryBtnText="Realizar login"
    secondaryBtnText="Cadastre-se"
    (submit)="submit()"
    (navigate)="navigate()"
    [disablePrimaryBtn]="!signupForm.valid"
>
    <form [formGroup]="signupForm">
        <app-input-primary
        formControlName="name"
        inputName="name"
        type="text"
        label="Name"
        placeholder="Maria Santos"
    >
        <img src="/assets/svg/email-icon.svg"/>
    </app-input-primary>

        <app-input-primary
            formControlName="email"
            inputName="email"
            type="email"
            label="Email"
            placeholder="maria@gmail.com"
        >
            <img src="/assets/svg/email-icon.svg"/>
        </app-input-primary>
        <app-input-primary
            formControlName="password"
            inputName="password"
            type="password"
            label="Sua senha"
            placeholder="Sua senha"
        >
        <img src="/assets/svg/password-icon.svg"/>
        </app-input-primary>

    <app-input-primary
            formControlName="passwordConfirm"
            inputName="passwordConfirm"
            type="password"
            label="Sua senha"
            placeholder="Confirme sua senha"
        >
        <img src="/assets/svg/password-icon.svg"/>
    </app-input-primary>

    
    <span>Esqueceu a senha?</span>
    </form>
</app-default-login-layout>