<app-default-login-layout
    title="Entre na sua conta"
    primaryBtnText="Realizar login"
    secondaryBtnText="Cadastre-se"
    (submit)="submit()"
    (navigate)="navigate()"
    [disablePrimaryBtn]="!loginForm.valid"
>
    <form [formGroup]="loginForm">
        <app-input-primary
            formControlName="email"
            inputName="email"
            type="email"
            label="Email"
            placeholder="maria@gmail.com"
        >
            <img src="/assets/svg/email-icon.svg"/>
        </app-input-primary>
        <app-input-primary
            formControlName="password"
            inputName="password"
            type="password"
            label="Sua senha"
            placeholder="Sua senha"
        >
        <img src="/assets/svg/password-icon.svg"/>
    </app-input-primary>
    <span>Esqueceu a senha?</span>
    </form>
</app-default-login-layout>