<mat-dialog-content class="mat-typography">
  <mat-card>
    <mat-card-content class="title-card">Editar Endereco</mat-card-content>
    <form>
      
      <mat-form-field appearance="outline">
        <mat-label>CEP</mat-label>
        <input matInput placeholder="CEP" [(ngModel)]="formData.cep" name="cep" (blur)="findAddress()" id="cep">
        
      </mat-form-field>
      
      <mat-form-field appearance="outline">
        <mat-label>Rua</mat-label>
        <input matInput placeholder="Rua" [(ngModel)]="formData.logradouro" name="logradouro" id="logradouro">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Bairro</mat-label>
        <input matInput placeholder="Bairro" [(ngModel)]="formData.bairro" name="bairro" id="bairro">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Cidade</mat-label>
        <input matInput placeholder="Cidade" [(ngModel)]="formData.localidade" name="localidade" id="localidade">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Estado</mat-label>
        <input matInput placeholder="Estado" [(ngModel)]="formData.uf" name="uf" id="uf">
        
      </mat-form-field>
    </form>
    <div class="buttons-class">
      <button type="submit" class="btn btn-primary" (click)="save()">Salvar</button>
      <button type="button" class="btn btn-secondary" (click)="close()">Cancelar</button>
    </div>
    
  </mat-card>
  
</mat-dialog-content>




    
    
    